<div #container class="grid">
  <article *ngFor="let item of data">
    <!--<a href="{{item.tweet_link}}">-->
      <!--Retweet Badge-->
      <div class="ribbon ribbon-top-left" *ngIf="item.retweet == true" style="max-width: 22rem">
        <span>
          <i class="fa fa-retweet"></i>
        </span>
      </div>
      <div style="z-index: 2;">
        <a (click)="goTo(lightboxItem)" >
          <img *ngIf="item.image_urls && item.image_urls[0]" [src]="item.image_urls[0]" class="thumbnail">
        </a>

        <!-- lightbox container hidden with CSS -->
        <a (click)="reload()" class="lightbox" #lightboxItem>
          <img *ngIf="item.image_urls && item.image_urls[0]" [src]="item.image_urls[0]">
        </a>

        <div class="text">
          <h3>{{item.display_name}}</h3>
          <p *ngIf="item.text">{{item.text}}</p>
          <ul>
            <li><i class="fa fa-clock-o">&nbsp;</i>{{item.created_at.toLocaleString()}}</li>&nbsp;
            <li><i class="fa fa-heart">&nbsp;</i>{{item.favorites.toLocaleString()}}</li>&nbsp;
            <li><i class="fa fa-retweet">&nbsp;</i>{{item.retweets.toLocaleString()}}</li>&nbsp;
          </ul>
        </div>
      </div>
    <!--</a>-->
  </article>
</div>
