<article>
  <div class="ribbon ribbon-top-left" *ngIf="retweet == true" style="max-width: 22rem">
        <span>
          <i class="fa fa-retweet"></i>
        </span>
  </div>
  <!--<a href="{{item.tweet_link}}">-->
  <div style="z-index: 2;">
    <a (click)="goTo(lightboxItem)" >
      <img *ngIf="image" [src]="image" class="thumbnail">
    </a>

    <!-- lightbox container hidden with CSS -->
    <a (click)="hide(lightboxItem)" class="lightbox" #lightboxItem>
      <div class="img-wrapper">
        <img *ngIf="image" [src]="image">
      </div>
    </a>

    <div class="text">
      <h3 *ngIf="title && link">
        <a *ngIf="link" routerLink="{{link}}">{{title}}</a>
      </h3>
      <h3 *ngIf="title && !link">
        {{title}}
      </h3>
      <p *ngIf="text">{{text}}</p>
      <ul *ngIf="created_at != null || favs != null || retweets != null">
        <li><i class="fa fa-clock-o">&nbsp;</i>{{created_at.toLocaleString()}}</li>&nbsp;
        <li><i class="fa fa-heart">&nbsp;</i>{{favs.toLocaleString()}}</li>&nbsp;
        <li><i class="fa fa-retweet">&nbsp;</i>{{retweets.toLocaleString()}}</li>&nbsp;
      </ul>
    </div>
  </div>
  <!--</a>-->
</article>
