<header>
  <div class="container">
    <a id="home" routerLink="/"><i class="far fa-newspaper"></i></a>
    <div class="box">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/features">Features</a></li>
        <li><a routerLink="/papers">Papers</a></li>
        <li *ngIf="!authenticated"><a routerLink="/login">Login</a></li>
        <li *ngIf="authenticated"><a routerLink="/profile/{{apiService.userUUID}}">Profile</a></li>
      </ul>
    </div>
    <a class="menuButton">MENU <i class="fas fa-bars"></i></a>
  </div>
</header>
