body {
  background: #4688F1;
  padding: 0;
  margin: 0;
}

.login-box {
  background: #fff;
  padding: 20px;
  max-width: 480px;
  margin: 25vh auto;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.login-box:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

.login-box h2 {
  margin: 20px 0 20px;
  padding: 0;
  text-transform: uppercase;
  color: #4688F1;
}

.social-button {
  background-position: 25px 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
}

#google-connect {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
  background-color: rgb(220, 74, 61);
  border-color: rgb(220, 74, 61);
  transition: all .3s ease-out;
}

#google-connect span {
  box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0 none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0;
  transition: all .3s ease;
}

#google-connect:hover span {
  color: #FFF;
  transition: all .3s ease-out;
}

#twitter-connect {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(85, 172, 238);
}

#twitter-connect:hover {
  background-color: rgb(85, 172, 238);
  border-color: rgb(85, 172, 238);
  transition: all .3s ease-out;
}

#twitter-connect span {
  box-sizing: border-box;
  color: rgb(85, 172, 238);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0 none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0;
  transition: all .3s ease;
}

#twitter-connect:hover span {
  color: #FFF;
  transition: all .3s ease-out;
}

.tblue {
  color: rgb(85, 172, 238);
}

.gpred {
  color: rgb(220, 74, 61);
}
