<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" href="#"><strong>Social Networks News</strong></a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link">Features</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" routerLink="/papers" routerLinkActive="active">Papers</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro hm-purple-light" style="">
    <div class="full-bg-img flex-center">
      <div class="container text-center white-text wow fadeInUp">
        <h2>Social Networks News is a FOSS App to generate a Newspaper of your needs</h2>
        <br>
        <h5>It happens automatic based on your Hashtags and Lists</h5>
        <p>You will find the most amusing or interesting content of your hashtag</p>
        <br>
        <p>Already prepared and baked to be ready to be read by you!</p>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
    </div>
  </div>

</main>
<!--Main Layout-->
