/* VARIABLES */
$header-bg: #f9a825;
$menu-width: 250px!default;

.main {
  grid-area: content;
  padding-top: 7rem;
}

.wrapper {
  display: grid;
  grid-gap: 0.4rem;
  grid-template-areas:
    "header"
    "content"
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content content";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
