/* VARIABLES */
$header-bg: #f9a825;
$menu-width: 250px!default;

header {
  order: 1;
  grid-area: header;
}

.header--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  @media (min-width: 40rem) {
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.logo {

}

.logo--link {
  display: block;
  color: #333;
  &:hover {
    opacity: .7;
  }
}

.logo--image {
  display: block;
}

nav {
  margin-top: 1rem;
  @media (min-width: 40rem) {
    margin-top: 0;
    margin-left: auto;
    margin-right: 5px;
  }
}

.nav--link {
  display: inline-block;
  color: #333;
  padding: .5rem .75rem;
  text-decoration: none;
  &:hover {
    background-color: #eee;
    color: #555;
  }
}

.main {
  grid-area: content;
  padding-top: 7rem;
}

.wrapper {
  display: grid;
  grid-gap: 0.4rem;
  grid-template-areas:
    "header"
    "content"
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content content";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
