.grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.grid>* {
  flex: 1 1 74%;
  margin: 10px;
}

/* Made by https://codepen.io/gschier/pen/HCoqh */

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox > .img-wrapper {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.lightbox > .img-wrapper img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  //margin-top: 2%;
  position: relative;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}
