<div class="card-deck row" *ngFor="let rows of data">
  <div class="card mx-auto" *ngFor="let item of rows" style="max-width: 22rem">
    <!--Card image-->
    <div class="overlay hm-white-slight waves-light card-img-top" *ngIf="item.paper_image">
      <img [src]="item.paper_image" class="img-fluid" style="z-index: 0">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <div class="card-body">
      <!--Title when Text exists-->
      <h4 class="card-title text-left" *ngIf="(item.description && item.paper_image) || (item.description && !item.paper_image)"><a routerLink="/paper/{{item.uuid}}">{{item.name}}</a></h4>
      <!--Title when no Text exists-->
      <h4 class="card-title align-middle" *ngIf="!item.description || !item.paper_image"><a routerLink="/paper/{{item.uuid}}">{{item.name}}</a></h4>
      <!--Text-->
      <p class="card-text text-justify" *ngIf="item.description">{{item.description}}</p>
    </div>
  </div>
</div>
