<spinner spinner="spinner"></spinner>
<div class="grid">
  <mat-card *ngFor="let item of data" style="max-width: 350px;">
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>AUTHOR (Placeholder)</mat-card-subtitle>
    </mat-card-header>
    <a (click)="lightbox.show(lightboxItem)" >
      <img mat-card-image *ngIf="item.paper_image" [src]="item.paper_image">
    </a>

    <!-- lightbox container hidden with CSS -->
    <a (click)="lightbox.hide(lightboxItem)" class="lightbox" #lightboxItem>
      <div class="img-wrapper">
        <img *ngIf="item.paper_image" [src]="item.paper_image">
      </div>
    </a>
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/paper/{{item.uuid}}">OPEN</a>
    </mat-card-actions>
  </mat-card>
</div>
