/* You can add global styles to this file, and also import other style files */
html { overflow:auto; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.tblue {
  background-color: rgb(85, 172, 238);
}

.gpred {
  background-color: rgb(220, 74, 61);
}

.indigo.lighten-1 {
  background-color: #5c6bc0 !important;
}

.indigo {
  background-color: #3f51b5 !important;
}
