<!--<div class="view intro hm-orange-light">
  <div class="full-bg-img flex-center">
    <div class="container text-center white-text wow fadeInUp">
      <h2>{{data.name}}</h2>
      <br>
      <h5>{{data.description}}</h5>
    </div>
  </div>
</div>-->

<!--Main Layout-->
<main>

  <!--<section class="mb-5 mr-5 ml-5">
    <nav class="menu">
      <a routerLinkActive="active">Titelthemen</a>
      <a>Fotos</a>
      <a>Videos</a>
    </nav>
  </section>-->

  <div fxLayout fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0" fxLayoutAlign="start" class="gridHack">
    <app-tweet-list [uuid]="uuid"></app-tweet-list>

    <mat-card>
      <mat-card-header class="avatarCenter">
        <div class="avatarContainer">
          <img src="https://twitter.com/mtrnord/profile_image?size=original" class="avatar">
          <mat-card-title class="username"><b>MTRNord</b></mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
        <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci
      </mat-card-content>
    </mat-card>
  </div>

</main>
<!--Main Layout-->
