.gridPaper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.avatarCenter {
  display: flex;
  justify-content: center; /* align horizontal */
}

.avatarContainer {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.username {
  margin-top: 15px !important;
  text-align: center;
  font-size: 24px !important;
}
