<!--<div class="view intro hm-orange-light">
  <div class="full-bg-img flex-center">
    <div class="container text-center white-text wow fadeInUp">
      <h2>{{data.name}}</h2>
      <br>
      <h5>{{data.description}}</h5>
    </div>
  </div>
</div>-->

<!--Main Layout-->
<main>

  <!--<section class="mb-5 mr-5 ml-5">
    <nav class="menu">
      <a routerLinkActive="active">Titelthemen</a>
      <a>Fotos</a>
      <a>Videos</a>
    </nav>
  </section>-->

  <div class="grid">
    <app-tweet-list [uuid]="uuid"></app-tweet-list>

  <article>
    <div style="z-index: 2;">
      <a>
        <ngx-avatar twitterId="mtrnord" [round]="true" size="120"></ngx-avatar>
      </a>

      <div class="text">
        <h3>MTRNord</h3>
        <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
      </div>
    </div>
  </article>
  </div>

</main>
<!--Main Layout-->
